@font-face {
    font-family: 'MuseoSansRounded';
    src: url('../fonts/MuseoSansRounded-900.eot');
    src: url('../fonts/MuseoSansRounded-900.eot') format('embedded-opentype'), url('../fonts/MuseoSansRounded-900.woff2') format('woff2'), url('../fonts/MuseoSansRounded-900.woff') format('woff'), url('../fonts/MuseoSansRounded-900.ttf') format('truetype');
}
/* set the font */
body {
    /* font-size: 1em !important; */
    font-family: MuseoSansRounded, Verdana, Arial, 'sans-serif' !important;

}

body {
    background-color: #fff;
    margin-top: 55px !important;
}

.nav-bar-color {
    background-color: #4E4084;
    border-color: #4E4084;
}

.page-wrapper-color {
    background-color: #FFF;
}

.panel {
    border: none;
    box-shadow: none;
}

.panel-body {
    padding: 0px;
}

.top-nav>li>a {
    color: #fff;
}

/* skinnier side nav than sb-admin default */
@media(min-width:768px) {
    #wrapper {
        padding-left: 140px;
    }
    .side-nav {
        left: 140px;
        width: 140px;
        margin-left: -140px;
    }

    .side-nav>li>a {
        width: 140px;
    }
}

.side-nav-color {
    background-color: #68618C;
    border: none;
    color: #fff;
}

.side-nav-color > li > a  {
    /* need to override bootstrap.min.css */
    color: #fff !important;
}

.side-nav-color > li > a:hover {
    background-color: #444 !important;
    color: #fff !important;
}
.side-nav-color > li > a:focus,
.side-nav-color > li > a.active {
    background-color: #fff !important;
    color: #444 !important;
}

.table-bordered {
    border: 1px solid #ddd !important;
}
.table-responsive {
    margin-top: 15px;
    border-top: none !important;
}
.table-responsive > table {
    margin-bottom: 0px;
}

.pagination {
    margin: 10px 0 15px 0;
}

tbody > tr.active > td {
    background-color: #efefff !important;
    /* border-left: 2px solid #4E4084; */
    /* border-bottom: 2px solid #4E4084; */
}

.purple-logo {
    width: 4.5em;
    margin-top: -8px;
}

.fake-link {
    font-size: 16px;
    color: #3498db;
    font-weight: normal;
    cursor: pointer;
    text-decoration: none;
}

.courier-active {
    color: #00ff00;
}

.courier-inactive {
    color: #ff0000;
}
